#change_content::after{
    content:"";
    animation:changetext 5s infinite linear ;
    
    
}
@keyframes changetext
{
    0%{content:"Data Analyst"}
    20%{content:"Software Developer"}
    40%{content:"Devops Engineer"}
    60%{content:"Data Scientist"}
    80%{content:"Machine Learning"}
    100%{content:"Software Developer"}
}
button-1:hover{
    background-color: lightpink;
    color:blue;
}
